<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>本地音乐</string>
	<string>我喜欢</string>
	<string>收藏列表</string>
	<string>下载管理</string>
	<string>最近播放</string>
</array>
</plist>
